{% extends 'base.html.twig' %}

{% block title %}Vos gains{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <div class="container div-border justify-content-between align-items-center">

        <header>
            <div class="row d-flex ">
                <div class="col">
                    <h2>Vos gains</h2>
                </div>
                <div class="col link text-right pt-3">
                    <ul class="list-unstyled d-inline-flex align-items-center">

                        <!-- Path to home page -->

                        <li><a href="{{ path('app_home') }}"><em class="fa fa-check-circle mx-3"></em></a></li>
                    </ul>
                </div>
            </div>
        </header>

        <!-- Chart on which we can see, for each day, the valuation of the user's portfolio -->

        <div>
            {{ render_chart(chart, {'class': 'my-chart'}) }}
        </div>

    </div>

{% endblock %}
